node-red/flows.json
[
  {
    "id": "1a2b3c4d5e6f7g8h",
    "type": "tab",
    "label": "Fault Detection Flow",
    "disabled": false,
    "info": ""
  },
  {
    "id": "inject_simulate_data",
    "type": "inject",
    "z": "1a2b3c4d5e6f7g8h",
    "name": "Simulate Data",
    "props": [],
    "repeat": "1",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "",
    "x": 100,
    "y": 80,
    "wires": [["function_generate_data"]]
  },
  {
    "id": "function_generate_data",
    "type": "function",
    "z": "1a2b3c4d5e6f7g8h",
    "name": "Generate Random Data",
    "func": "// Generate random vibration level and temperature\nconst vibrationLevel = parseFloat((Math.random() * 10).toFixed(2));\nconst temperature = parseFloat((Math.random() * 80 + 20).toFixed(2)); // 20 to 100 degrees\n\n// Prepare the payload\nmsg.payload = {\n    vibration_level: vibrationLevel,\n    temperature: temperature\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 290,
    "y": 80,
    "wires": [["http_request_predict", "function_prepare_display"]]
  },
  {
    "id": "http_request_predict",
    "type": "http request",
    "z": "1a2b3c4d5e6f7g8h",
    "name": "Send to Flask App",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://192.168.140.1:5050/predict",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 520,
    "y": 80,
    "wires": [["function_interpret_prediction"]]
  },
  {
    "id": "function_interpret_prediction",
    "type": "function",
    "z": "1a2b3c4d5e6f7g8h",
    "name": "Interpret Prediction",
    "func": "if (msg.payload && msg.payload.status) {\n    msg.payload = msg.payload.status;\n    return msg;\n} else {\n    msg.payload = \"Unknown\";\n    return msg;\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 730,
    "y": 80,
    "wires": [["ui_text_status", "debug_prediction"]]
  },
  {
    "id": "function_prepare_display",
    "type": "function",
    "z": "1a2b3c4d5e6f7g8h",
    "name": "Prepare for Display",
    "func": "// Pass through the vibration level and temperature for display\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 520,
    "y": 160,
    "wires": [["ui_text_vibration", "ui_text_temperature"]]
  },
  {
    "id": "ui_text_vibration",
    "type": "ui_text",
    "z": "1a2b3c4d5e6f7g8h",
    "group": "ui_group_dashboard",
    "order": 1,
    "width": 6,
    "height": 1,
    "name": "Vibration Level Display",
    "label": "Vibration Level:",
    "format": "{{msg.payload.vibration_level}}",
    "layout": "row-spread",
    "x": 770,
    "y": 140,
    "wires": []
  },
  {
    "id": "ui_text_temperature",
    "type": "ui_text",
    "z": "1a2b3c4d5e6f7g8h",
    "group": "ui_group_dashboard",
    "order": 2,
    "width": 6,
    "height": 1,
    "name": "Temperature Display",
    "label": "Temperature:",
    "format": "{{msg.payload.temperature}}",
    "layout": "row-spread",
    "x": 770,
    "y": 180,
    "wires": []
  },
  {
    "id": "ui_text_status",
    "type": "ui_text",
    "z": "1a2b3c4d5e6f7g8h",
    "group": "ui_group_dashboard",
    "order": 3,
    "width": 6,
    "height": 1,
    "name": "Status Display",
    "label": "Status:",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 940,
    "y": 80,
    "wires": []
  },
  {
    "id": "debug_prediction",
    "type": "debug",
    "z": "1a2b3c4d5e6f7g8h",
    "name": "Prediction Debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 940,
    "y": 120,
    "wires": []
  },
  {
    "id": "ui_group_dashboard",
    "type": "ui_group",
    "name": "Dashboard Group",
    "tab": "ui_tab_dashboard",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "ui_tab_dashboard",
    "type": "ui_tab",
    "name": "Dashboard",
    "icon": "dashboard",
    "order": 1,
    "disabled": false,
    "hidden": false
  }
]
